@charset "UTF-8";
.text-bold {
  font-weight: bold;
}
.text-p-color {
  color: #282848;
}
.text-s-color {
  color: #82E5FF;
}
.text-act-color {
  color: #D860B3;
}

.button-rounded {
  border-radius: 50px !important;
}

.button-down i {
  border: 2px solid;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.elementor-tab-title {
  border: 2px solid #282848 !important;
  border-radius: 50px !important;
}
.elementor-tab-title.elementor-active {
  background: #282848 !important;
  color: white !important;
}

.box-nav-and-buttons .nav-link {
  letter-spacing: 1px;
}
.box-nav-and-buttons .box-menu-nav .nav {
  justify-content: flex-end !important;
}
.box-nav-and-buttons .img-brand {
  max-height: 70px !important;
}

.button-action a {
  background-color: #D860B3;
  border-radius: 50px;
  line-height: 2em;
  border: 2px solid #D860B3;
}
.button-action a:hover {
  background-color: transparent;
  color: #D860B3 !important;
}

.sub-heading-section {
  padding-top: 10em !important;
}
.sub-heading-section h1 {
  font-weight: bold !important;
}

.info-contact .nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 1.4em;
  padding-left: 0;
  text-transform: uppercase;
  line-height: 1.8em;
  color: #282848;
  letter-spacing: 1px;
}
.info-contact .nav-link::after {
  transition: all 0.3s;
}
.info-contact .nav-link:hover {
  color: #82E5FF;
}
.info-contact .nav-link:hover::after {
  content: " •";
}

.form-group {
  position: relative;
}
.form-group label {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 15px;
  background: white;
  display: block;
  padding: 0 10px;
  font-family: "Poppins", sans-serif;
}
.form-group label.label-active {
  top: 15%;
}

.top-footer {
  background-image: url("http://localhost/eventtify/wp-content/uploads/2020/06/bg-footer.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.top-footer .logo-footer img {
  max-width: 100%;
  width: 150px;
  margin: auto;
  text-align: center;
  margin-bottom: 2em;
}
.top-footer .widget-title {
  margin-bottom: 1.5em;
}
.top-footer .textwidget ul {
  list-style: none;
  padding: 0;
}
.top-footer .textwidget ul li {
  margin-bottom: 0.5em;
}
.top-footer .textwidget ul li a {
  color: #f5f5f5;
  transition: all 0.3s;
  letter-spacing: 1px;
}
.top-footer .textwidget ul li a::after {
  transition: all 0.3s;
}
.top-footer .textwidget ul li a:hover {
  color: #82E5FF;
  padding-left: 0.3em;
}
.top-footer .textwidget ul li a:hover::after {
  content: " •";
}
.top-footer .textwidget ul li a i {
  margin-right: 0.5em;
}

.form-master {
  background-color: transparent !important;
  color: white !important;
}

.number-step {
  background-color: #82E5FF;
  color: #282848;
  width: 30px;
  height: 30px;
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: 50%;
  font-family: "Poppins", sans-serif;
}

/*# sourceMappingURL=custom-style.css.map */
