.top-footer
    background-image: url("http://localhost/eventtify/wp-content/uploads/2020/06/bg-footer.jpg")
    background-position: center center
    background-size: cover
    background-repeat: no-repeat
    .logo-footer
        img
            max-width: 100%
            width: 150px
            margin: auto
            text-align: center
            margin-bottom: 2em
    .widget-title
        margin-bottom: 1.5em
    .textwidget
        ul
            list-style: none
            padding: 0
            li
                margin-bottom: .5em
                a
                    color: #f5f5f5
                    transition: all .3s
                    letter-spacing: 1px
                    &::after
                        transition: all .3s
                    &:hover
                        color: $s-color
                        padding-left: .3em
                        &::after
                            content: ' •'
                            
                    i
                        margin-right: .5em