.form-group
    position: relative
    label
        position: absolute
        z-index: 1
        top: 50%
        left: 15px
        background: white
        display: block
        padding: 0 10px
        font-family: $poppins
        &.label-active
            top: 15%