// Colors theme
$p-color: #282848
$s-color: #82E5FF
$act-color: #D860B3

//Fonts theme
$poppins: 'Poppins', sans-serif

.text
    &-bold
        font-weight: bold
    &-p-color
        color: $p-color
    &-s-color
        color: $s-color
    &-act-color
        color: $act-color

.button-rounded
    border-radius: 50px !important

.button-down
    i
        border: 2px solid
        width: 40px !important
        height: 40px !important
        border-radius: 50%
        display: flex !important
        flex-direction: column !important
        justify-content: center !important
        align-items: center !important

.elementor-tab-title
    border: 2px solid $p-color !important
    border-radius: 50px !important
    &.elementor-active
        background: $p-color !important
        color: white !important