.box-nav-and-buttons
    .nav-link
        letter-spacing: 1px
    .box-menu-nav
        .nav
            justify-content: flex-end !important
    .img-brand
        max-height: 70px !important

.button-action
    a
        background-color: $act-color
        border-radius: 50px
        line-height: 2em
        border: 2px solid $act-color
        &:hover
           background-color: transparent
           color: $act-color !important 