.info-contact
    .nav-link
        font-family: 'Poppins', sans-serif
        font-size: 1.4em
        padding-left: 0
        text-transform: uppercase
        line-height: 1.8em
        color: $p-color
        letter-spacing: 1px
        &::after
            transition: all .3s
        &:hover
            color: $s-color
            &::after
                content: ' •'
