@import "general-styles"
@import "header"
@import "subheading"
@import "wdg-info"
@import "forms"
@import "footer"
.form-master
    background-color: transparent !important
    color: white !important

.number-step
    background-color: $s-color
    color: $p-color
    width: 30px
    height: 30px
    display: flex
    margin: 0 auto
    text-align: center
    justify-content: center
    align-items: center
    font-weight: 500
    border-radius: 50%
    font-family: $poppins

